.container {
  position: relative;
  text-align: center;
  color: white;
}
.emi{
  width: 50%;
  height: 500px
}
.erick{
  width:500px; 
  height: 500px; 
  float: right;
}
.centered {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 36px;
   padding: 10px; 
   float: right;
}
.ern {
  background-color: transparent;
  border-width: 2px;
  color: rgb(240, 232, 232);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.ern:hover {
  background-color: #3e8e41;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 600px){

.emi{
  width: 100%;
  height: 50%;
  align-items: self-start;

}
.erick{
  width:100%; 
  height: 50%; 
  }
.centered {
 padding: 20px;
  font-size: 23px;
  left: 40%; 
  
  
  

}
.ern {
  background-color: transparent;
  border-width: 2px;
  color: rgb(240, 232, 232);
  text-align: center;
  font-size: 16px;
  text-decoration: solid;
  transition: 0.3s;
}

.ern:hover {
  background-color: #3e8e41;
  color: white;
  cursor: pointer;
} 
}